
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:wght@300&family=Neucha&family=Poppins:wght@100&display=swap');

{
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Neucha', cursive;
font-family: 'Poppins', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    color: azure;
}

body{
    background-color:#1D1B26;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.head{
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 25px;
    background-color: #f99984;
    /* background-color: #00CFc8;
    background-color: #fbd5e3;*/
} 



input[type="submit"]{
    color:black;
    font-size: large;
    padding: 2px;
    height: 50px;
    width: 200px;
    font-weight: bold;
    border-radius:15px;
    margin-bottom: 10px;
}

input[type="submit"]:hover{
  
    background-color: #f99984;
    color:azure;
    
}


select,option{
    color:black;
}

a{
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color:azure;
}

textarea{
    width: 60%;
    box-shadow: azure;
    height: 2/5fr;
    margin: 20px;
    border: 3px solid azure;
    border-radius: 15px;
    padding: 10px;
    font-size: larger;
    color:black;
}

#fonts{
    width: 30vw;
    height: 20px;
    font-size:medium;
    border: 2px solid azure;
    color:black;
    font-weight: bold;
}

footer{
    left:0;
    bottom:0;
    width: 100%;
    text-align:center;
    background-color: #f99984;
    color:black;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
   
}

footer a{
    color:black;
    margin:0;
    padding:0;
}

footer span{
    color:black
}